<ion-header>
  <ion-toolbar>
    <ion-title>
      Bolaria - Nossos Bolos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../../assets/img/bolo1.jpeg" />
    <ion-card-header>
      <ion-card-title>{{ obj.bolos[0].titulo }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-card-subtitle> {{ obj.bolos[0].preco }} </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/img/bolo2.jpeg" />
    <ion-card-header>
      <ion-card-title> {{ obj.bolos[1].titulo }}</ion-card-title>
      <ion-card-subtitle>{{ obj.bolos[1].preco }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <img src="../../assets/img/bolo3.jpeg" />
    <ion-card-header>
      <ion-card-title> {{ obj.bolos[2].titulo }} </ion-card-title>
      <ion-card-subtitle> {{ obj.bolos[2].preco }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <img src="../../assets/img/bolo4.jpeg" />
    <ion-card-header>
      <ion-card-title> {{ obj.bolos[3].titulo }} </ion-card-title>
      <ion-card-subtitle> {{ obj.bolos[3].preco }} </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>