<ion-header>
  <ion-toolbar>
    <ion-title>
      Venda
    </ion-title>
  </ion-toolbar>
</ion-header>

    <ion-content fullscreen>
      <form >
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-label position="stacked"> Bolo escolhido </ion-label>
            <ion-label position="stacked">Apenas R$45</ion-label>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Endereço</ion-label>
            <ion-input placeholder="Endereço"></ion-input>
            <ion-input placeholder="Cidade"></ion-input>
            <ion-input placeholder="CEP"></ion-input>
          </ion-item>
        </ion-list>

        <div class="ion-padding">
          <ion-button expand="block" type="submit" class="ion-no-margin" onclick="abrirLoad()">Enviar Pedido</ion-button>
        </div>
      </form>
    </ion-content>
